@model List<GradeDisciplinas>

@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Atribuir Matérias";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Atribuir Matérias</h1>
    </div>
    <button class="add-container pad-right btn-modal">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Adicionar</span>
    </button>
</header>
<section class="table-container">
    @if (ViewBag.hasGradeDisciplina == false)
    {
        <div class="table">
            <span class="msg-table">Nenhuma Atribuição de Matérias adicionada</span>
        </div>
    }
    else
    {
        <div class="table">
            <div class="table-item">
                @foreach (var gradeDisciplina in Model)
                {   
                    <section class="table-item-container">
                        <div class="table-item-btn">
                            @* <label style="cursor: auto;" for="course" class="table-item-name"><span class="bold">Matéria: </span> @gradeDisciplina.Disciplina.Nome, <span class="bold">Grade: </span>@gradeDisciplina.Grade.Curso.Nome</label> *@
                            <div class="table-details">
                                <label><span>Matéria: </span>@gradeDisciplina.Disciplina.Nome</label>
                                <label><span>Grade: </span>@gradeDisciplina.Grade.Curso.Nome</label>
                                @if (@gradeDisciplina.TemDivisao)
                                {
                                    <label><span>Tem divisão:</span> Sim</label>
                                }else
                                {
                                    <label><span>Tem divisão:</span> Não</label>
                                }
                            </div>
                            <div class="drop-btn-container">
                                <button class="drop-btn btn-modal-edt" onclick="openModalEdtGradeDisciplinas('@gradeDisciplina.Id', '@gradeDisciplina.Grade.Curso.Nome', '@gradeDisciplina.Disciplina.Nome', '@gradeDisciplina.Semestre', '@gradeDisciplina.TemDivisao', '@gradeDisciplina.CargaHoraria')" id="id-@gradeDisciplina.Id">
                                    <img src="~/img/icons/edit.svg" alt="Edit">
                                </button>
                                <button class="drop-btn">
                                    <label for="btn-delete-@gradeDisciplina.Id">
                                        <img src="~/img/icons/delete.svg" alt="Delete">
                                    </label>
                                    <input style="display: none;" class="btn-modal-del" name="id" onclick="openModalDel('@gradeDisciplina.Id', '@gradeDisciplina.Disciplina.Nome')" id="btn-delete-@gradeDisciplina.Id"/>
                                </button>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    }
</section>
<section class="modal">
    <div class="modal-container modal-container-grgridsub">
        <div class="title-modal-container">
            <h1 class="title-modal">Atribuir Matérias</h1>
            <button class="close-modal" id="close-modal-add">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form method="post" class="form-modal" id="form-add">
            <div class="field-modal">
                <label for="select-modal-sgridsub" id="label-modal-sgridsub">Matéria</label>
                <input type="text" class="select-modal-sgridsub" id="select-modal-sgridsub" name="sub" placeholder="Selecione a Matéria" readonly>
                <div class="dropdown-container-sgridsub">
                    <div class="dropdown-select-sgridsub">
                        @foreach (var disciplina in ViewBag.Disciplinas)
                        {
                            <div class="item-select-container">
                                <input class="check-select-sgridsub" type="checkbox" id="item-select-sgridsub-@disciplina.Id" name="sub">
                                <label for="item-select-sgridsub-@disciplina.Id" class="item-select-sgridsub" id="items-sgridsub-@disciplina.Id" onmousedown="selectSGridsub(@disciplina.Id)">@disciplina.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field-modal">
                <label for="select-modal-grgridsub" id="label-modal-grgridsub">Grade</label>
                <input type="text" class="select-modal-grgridsub" id="select-modal-grgridsub" name="grid" placeholder="Selecione a Grade" readonly>
                <div class="dropdown-container-grgridsub">
                    <div class="dropdown-select-grgridsub">
                        @foreach (var grade in ViewBag.Grades)
                        {
                            <div class="item-select-container">
                                <input class="check-select-grgridsub" type="checkbox" id="item-select-grgridsub-@grade.Id" name="grid">
                                <label for="item-select-grgridsub-@grade.Id" class="item-select-grgridsub" id="items-grgridsub-@grade.Id" onmousedown="selectGrGridsub(@grade.Id)">@grade.Curso.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field-modal">
                <label for="semester-add">Quantidade de Semestres</label>
                <input class="inp-modal" type="number" id="semester-add" name="semester" placeholder="Digite a quantidade de semestres no total">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="semester-add">Carga Horária</label>
                <input class="inp-modal" type="number" id="workload-add" name="workload" placeholder="Carga horária (horas aula)">
                <span class="erro"></span>
            </div>
            <div class="field-modal field-modal-checkbox">
                <input type="hidden" name="hasDivision">
                <input class="inp-modal inp-checkbox" type="checkbox" id="hasDivision-add" name="hasDivisionInp" placeholder="Tem divisão?">
                <label for="hasDivision-add" class="remember-label">Possuí divisão de turmas</label>
            </div>
            <button type="submit" class="btn btn-modal">Adicionar</button>
        </form>
    </div>
</section>
<section class="modal modal-edt">
    <div class="modal-container modal-container-edt modal-container-grgridsubEdt">
        <div class="title-modal-container">
            <h1 class="title-modal">Editar Atribuição</h1>
            <button class="close-modal close-modal-edt" id="close-modal-edt">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form asp-action="EditGradeDisciplina" method="post" class="form-modal" id="form-edt">
            <div class="field-modal">
                <label for="select-modal-sgridsubEdt" id="label-modal-sgridsubEdt">Matéria</label>
                <input type="text" class="select-modal-sgridsubEdt" id="select-modal-sgridsubEdt" name="sub" placeholder="Selecione a Matéria" readonly>
                <div class="dropdown-container-sgridsubEdt">
                    <div class="dropdown-select-sgridsubEdt">
                        @foreach (var disciplina in ViewBag.Disciplinas)
                        {
                            <div class="item-select-container">
                                <input class="check-select-sgridsubEdt" type="checkbox" id="item-select-sgridsubEdt-@disciplina.Id" name="sub">
                                <label for="item-select-sgridsubEdt-@disciplina.Id" class="item-select-sgridsubEdt" id="items-sgridsubEdt-@disciplina.Id" onmousedown="selectSGridsubEdt(@disciplina.Id)">@disciplina.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field-modal">
                <label for="select-modal-grgridsubEdt" id="label-modal-grgridsubEdt">Grade</label>
                <input type="text" class="select-modal-grgridsubEdt" id="select-modal-grgridsubEdt" name="grid" placeholder="Selecione a Grade" readonly>
                <div class="dropdown-container-grgridsubEdt">
                    <div class="dropdown-select-grgridsubEdt">
                        @foreach (var grade in ViewBag.Grades)
                        {
                            <div class="item-select-container">
                                <input class="check-select-grgridsubEdt" type="checkbox" id="item-select-grgridsubEdt-@grade.Id" name="grid">
                                <label for="item-select-grgridsubEdt-@grade.Id" class="item-select-grgridsubEdt" id="items-grgridsubEdt-@grade.Id" onmousedown="selectGrGridsubEdt(@grade.Id)">@grade.Curso.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field-modal">
                <label for="semester-edt">Quantidade de Semestres</label>
                <input class="inp-modal" type="number" id="semester-edt" name="semester" placeholder="Digite a quantidade de semestres no total">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="workload-edt">Carga Horária</label>
                <input class="inp-modal" type="text" id="workload-edt" name="workload" placeholder="Carga horária">
                <span class="erro"></span>
            </div>
            <div class="field-modal field-modal-checkbox">
                <input type="hidden" name="hasDivisionEdt">
                <input class="inp-modal inp-checkbox" type="checkbox" id="hasDivision-edt" name="hasDivisionInpEdt" placeholder="Tem divisão de turma">
                <label for="hasDivision-edt" class="remember-label">Possuí divisão de turma</label>
            </div>
            <input type="hidden" name="id" id="id-edt"/>
            <button type="submit" class="btn btn-modal">Salvar</button>
        </form>
    </div>
</section>
<section class="modal modal-del">
    <form asp-action="DeleteGradeDisciplina" method="post" class="modal-container modal-container-del">
        <div class="title-modal-container-del">
            <h1 class="title-modal-del">Tem certeza que deseja remover a Atribuição de Matérias de <span id="name-del"></span> ?</h1>
        </div>
        <div class="btn-container-confirm">
            <button type="button" class="btn btn-modal btn-white-outline close-modal-del">Cancelar</button>
            <input type="hidden" name="id" id="id-del"/>
            <button type="submit" class="btn btn-modal">Remover</button>
        </div>
    </form>
</section>

@section Scripts{
    <script src="~/js/modal.js"></script>
    <script src="~/js/multi-select-gridsub-add.js"></script>
    <script src="~/js/multi-select-gridsub-edt.js"></script>
}